/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}

body{
  --theme-primay: #3996d2;
  --theme-primary-middle: #63b3e2;
  --theme-blue-dark: #344E5C;
  --theme-black: #2A2A2E;

  --var-header-height: 60px;
  --var-side-menu-full-open: 250px;
  --transition-smoth: all ease .3s;
}
